version: '3.7'
services:
  node-app:
    container_name: 'hal-log-node-app'
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8086:80"
    volumes:
      - ./node-app:/usr/src/app
    environment:
      NODE_ENV: "development"
      ELASTICSEARCH_HOST: "http://hal-log-elasticsearch:9200"
      MYSQL_HOST: "hal-log-mysql"
      MYSQL_USERNAME: "root"
      MYSQL_PASSWORD: "admin"
      MYSQL_SCHEMA: "hal-logs"
  web:
    container_name: 'hal-log-node-web'
    build:
      context: .
      dockerfile: nginx/Dockerfile
    ports:
      - "9090:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf

  mysql:
    container_name: 'hal-log-mysql'
    image: 'mysql:8'
    ports:
      - "8000:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 'admin'
      MYSQL_USER: 'admin'
      MYSQL_PASSWORD: 'test'
      MYSQL_DATABASE: 'hal-logs'

  elasticsearch:
    container_name: 'hal-log-elasticsearch'
    image: 'docker.elastic.co/elasticsearch/elasticsearch:7.7.1'
    ports:
      - "9202:9200"
      - "9302:9300"
    volumes:
      - ./elasticsearch/config/elasticsearch.yml:/etc/elasticsearch/elasticsearch.yml
    depends_on:
      - mysql
    environment:
#      - 'cluster.name=docker-cluster'
#      - 'bootstrap.memory_lock=true'
      - 'discovery.type=single-node'
#      - 'xpack.security.enabled=false'
#      - 'ES_JAVA_OPTS=-Xms512m -Xmx512m'
    ulimits:
      memlock:
        soft: -1
        hard: -1

  kibana:
    container_name: 'hal-log-kibana'
    image: docker.elastic.co/kibana/kibana:7.7.1
    environment:
      SERVER_NAME: localhost
      ELASTICSEARCH_HOSTS: 'http://hal-log-elasticsearch:9200'
    ports:
      - "5601:5601"

  swagger:
    container_name: hal-log-swagger
    image: swaggerapi/swagger-ui
    volumes:
      - ./app:/app:cached

    ports:
      - "8079:8080"

    environment:
      SWAGGER_JSON: '/app/openapi.json'
      BASE_URL: '/'

  # docker run -d -p 80:8080 swaggerapi/swagger-editor
networks:
  default:
    external:
      name: halv2_default